.input {
    width: 200px;
    height: 40px;
    border: none;
    background-color: #dbb68f;
    border-bottom: 3px solid black;
    outline: none;
}

.input:hover {
    border-bottom: 3px solid #642ca9;
}