@font-face {
    font-family: "montserrat_font.ttf";
    src: url("/fonts/montserrat_font.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat_font.ttf";
}

body {
    background-color: #dbb68f;
}