.menu-list {
    display: flex;
    margin-top: 90px;
}

.list-item {
    margin-left: 50px;
    list-style: none;
    font-size: 20px;
}

.list-item:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #642ca9;
}