.search {
    display: flex;
    margin-top: 20px;
}

.div-search {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.search-all {
    margin-right: 50px;
}

.search-title {
    margin-right: 50px;
}

.results {
    display: flex;
    justify-content: space-between;
}

#subtitle-search {
    margin-top: 20px;
}

#title-search:hover {
    text-decoration: underline 4px solid #642ca9;    
}